/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .off-nav{
        display: none;
    }
    .mobile-quote{
        display: block;
    }
    .header-div {
        height: 80vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .off-nav{
        display: none;
    }
    .mobile-quote{
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .off-nav{
        display: block;
        margin-right: 200px;
    }
    .mobile-quote{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .off-nav{
        display: block;
        margin-right: 200px;
    }
    .mobile-quote{
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}