@import url('https://fonts.googleapis.com/css?family=Muli|Montserrat');

:root {
    --tedd-color-deep: rgb(4, 69, 255);
    --tedd-color: rgb(33, 146, 255);
}

body {
    font-family: 'Muli', sans-serif;
}

.fa.fa-sort-desc.services {
    position: fixed;
    margin-left: 1px;
}

.header-div {
    border-top: 1px solid black;
    width: 100%;
    height: 65vh;
}

.slider-image1 {
    background-image: url("../img/team.jpeg");
}

.slider-image2 {
    background-image: url("../img/team1.jpeg");
}

.slider-image3 {
    background-image: url("../img/team2.jpeg");
}

.bgimage-property > div {
    width: 100%;
    background: rgba(109, 110, 113, 0.75);
}

.navbar-dark .navbar-brand{
    color: #000;
}

.slider-header .header-div h5 {
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 800;
    color: rgba(33, 146, 255, 0.71);
}

section.contact-fixed{
    height: 100vh;
}

section.services {
    padding-top: 100px;
}

section.services .services-header {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

section.services .container {
    background: #ffff;
}

section.services .col-lg-3 {
    margin-top: 15px;
}

body.coloured-body{
    background-size: cover;
    /*background-image: url(../../assets/img/tedd2.jpg);*/
}

body.coloured-body > div {
    background: -webkit-linear-gradient(left, rgba(109, 110, 113, 0.75), rgba(0, 114, 255, 0.78));
}

.contact-form {
    border-radius: 8px;
    background: #fff;
    margin-top: 6%;
    margin-bottom: 2%;
    width: 92%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14% 14% 0 14%;
}

.contact-form form .row {

}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.contact-form .txtMsg{
    margin-top: 15px;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card{
    min-height: 312px;
}
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link{
    color: rgb(4, 69, 255);
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(4, 69, 255);
}

section.get-quote-section{
    margin-bottom: -15px;
    max-height: 10vh;
    color: #ffffff;
    background: var(--tedd-color);
}

section.get-quote-section h3{
    color: #FFFFFF;
}

section.get-quote-section .btn:hover{
    color: #ff3748;
}


.quote-btn{
    background-color: #ff3748;
    font-size: 17px;
    font-weight: 800;
    size: 50px;
    width: 200px;
}
.btn:not(:disabled):not(.disabled){
    font-weight: 800;
}


.service-intro .col-md-12{
    padding: 25px 0;
}
.service-intro .col-md-12 a{
    color: red;
    font-size: 20px;
    padding: 10px 0;
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.clean-pricing-item {
    background-color:#fff;
    box-shadow:0 15px 20px rgba(0,0,0,.075);
    border-top:2px solid #5ea4f3;
    padding:15px;
    overflow:hidden;
    position:relative;
}

.clean-pricing-item span.feature::before{
    color: red;
    content: " * ";
}
.clean-pricing-item a {
    text-align: center;
    margin: auto;
    font-weight: 600;
    padding: 9px 0;
    border: none;
    box-shadow: none;
}

a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover{
    background-color: white;
}

.btn:hover {
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.quote-btn:hover{
    color: #ff3748;
}

.btn-premium{
    background-color: #0fa80f;
}
.btn-classic{
    background-color: #00acc1;
}
.btn-basic{
    background-color: #ff3748;
}
.btn-custom{
    background-color: #ffaa00;
}
.btn-premium:hover{
    color: #0fa80f;
}
.btn-classic:hover{
    color: #00acc1;
}
.btn-basic:hover{
    color: #ff3748;
}
.btn-custom:hover{
    color: #ffaa00;
}

section.team{
    margin-top: 4%;
}

.about{
    margin-top: 30px;
    width: 80%;
}
.about h4{
    margin-top: 20px;
    color: #ffffff;
    font-weight: bolder;
}
.about h4 .highlight{
    border-bottom: 1px solid red;
}

h4.team-header{
    margin-bottom: 5px;
}